[submodule "Source/ThirdParty/imgui"]
	path = Source/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Source/ThirdParty/ImGuizmo"]
	path = Source/ThirdParty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Assets/ThirdParty/gamecontrollerdb"]
	path = Assets/ThirdParty/gamecontrollerdb
	url = https://github.com/gabomdq/SDL_GameControllerDB.git
[submodule "Source/ThirdParty/imgui-filebrowser"]
	path = Source/ThirdParty/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
[submodule "Source/ThirdParty/concurrentqueue"]
	path = Source/ThirdParty/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "Source/ThirdParty/stb"]
	path = Source/ThirdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "Source/ThirdParty/tinyobjloader"]
	path = Source/ThirdParty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
