# Examples that shouldn't be committed
Examples/3D/

# Third party stuff, should only be submodule'd
Assets/ThirdParty
Source/ThirdParty/!CMakeLists.txt

# Generated shader files
*.spv.h

# Files generated at runtime
_dump.scene
imgui.ini

# CLion stuff
.idea

# Visual studio stuff
*.sln
*.vcxproj*

# Binaries
*.dll
*.exe
*.pdb
*.spv

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
cmake-build-*/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
build_thirdparty/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio 2015 cache/options directory
.vs/

# Renderdoc config, can't be made portable?
*.cap